body {
  font-family: Tahoma;
}

.header-text {
  margin-top: 100px;
  margin-bottom: 125px;
  text-align: center;
  font-size: 36px;
  font-weight: 400;
}

.block-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.block-buy {
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.block-text {
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 20px;
}

.block-price {
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 20px;
  color: #000000;
  font-size: 18px;
  font-weight: 700;
}

.btn {
  background-color: white;
  color: #23bac1;
  font-size: 13px;
  font-weight: 700;
  padding-top: 23px;
  padding-bottom: 23px;
  padding-left: 75px;
  padding-right: 75px;
  width: 200px;
  height: 55px;
  border: 1px solid #23bac1;
  text-transform: uppercase;
}
